/* Soluzione qui */
@media screen and (min-width: 768px){
    #topbar {
        justify-content: left;
    }

    main{
        padding: 30px;
    }

    .recipe-name::after{
        content: "(Dolce Tradizionale)";
    }

    .recipe-name{
        font-size: 2rem;
    }
    
    .quick-notes ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .quick-notes ul li{
        flex-basis: calc(100% / 3);
    }

    .btn{
        width: 100px;
    }
  
    .ads{
        display: block;
        padding-bottom: 70px;
    }

    img{
        float: left;
        padding-right: 20px;
    }
}

@media screen and (min-width: 992px){

    .container{
        padding-inline: 100px;
    }
    
    .quick-notes ul{
        display: block
    }

    .recipe-card{
        display: flex;  
    }

    .recipe-video{
        width: 70%;
    }

    .fa-facebook::after{
        content: " Facebook";
        color: black;
    }

    .fa-twitter::after{
        content: " Twitter";
        color: black;

    }

    .fa-instagram::after{
        content: " Instagram";
        color: black;
    }

    .fa-pinterest::after{
        color: black;
        content: " Pinterest";
    }

    .fa-youtube::after{
        color: black;
        content: " Youtube";
    }

    .btn{
        width: 100%;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    address{
        text-align: left;
    }
}
